<div>
    <mat-grid-list cols="4">
      <mat-grid-tile>
        <mat-card>
          <mat-card-title class= "primary">AWS Solutions Architect</mat-card-title>
          <picture class="center">
            <img src="../../assets/img/AWS.jpg" alt="aws">
          </picture>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
          <mat-card-title class= "primary">SumoLogic Foundations</mat-card-title>
          <picture class="center">
            <img src="../../assets/img/sumo-logic.jpg" alt="aws">
          </picture>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
          <mat-card-title class= "primary">Professional Scrum Master</mat-card-title>
          <picture class="center">
            <img src="../../assets/img/scrum.png" alt="aws">
          </picture>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

