<div>
    <mat-grid-list cols="4">
      <mat-grid-tile class="icon">
        <div class="full">
          <div class= "primary scale-multi">SumoLogic Foundations</div>
          <picture class="center">
            <img class="half" src="../../assets/img/sumo-logic.jpg" alt="aws">
          </picture>
        </div>
      </mat-grid-tile>
      <mat-grid-tile class="icon">
        <div class="full">
          <div class= "primary scale-multi">Professional Scrum Master</div>
          <picture class="center">
            <img class="half" src="../../assets/img/scrum.png" alt="aws">
          </picture>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

