<div>
    <mat-grid-list cols="4">
      <mat-grid-tile class="icon">
        <mat-card class="full">
          <mat-card-title class= "primary scale">AWS Solutions Architect</mat-card-title>
          <picture class="center">
            <img class="half" src="../../assets/img/AWS.jpg" alt="aws">
          </picture>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile class="icon">
        <mat-card class="full">
          <mat-card-title class= "primary scale">SumoLogic Foundations</mat-card-title>
          <picture class="center">
            <img class="half" src="../../assets/img/sumo-logic.jpg" alt="aws">
          </picture>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile class="icon">
        <mat-card class="full">
          <mat-card-title class= "primary scale">Professional Scrum Master</mat-card-title>
          <picture class="center">
            <img class="half" src="../../assets/img/scrum.png" alt="aws">
          </picture>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

