<mat-accordion >
    <mat-expansion-panel >
        <mat-expansion-panel-header >
            <mat-panel-title class="medium-title">
            My Philosophy
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="small-title">I have a few basic tennents by which I like to live:
          <mat-card>
            <mat-list>
              <mat-list-item><mat-icon>code</mat-icon><div class="tiny-title"> Always look for areas of improvement</div></mat-list-item>
              <mat-list-item><mat-icon>code</mat-icon><div class="tiny-title"> Always look for ways to help</div></mat-list-item>
              <mat-list-item><mat-icon>code</mat-icon><div class="tiny-title"> Efficiency is key</div></mat-list-item>
              <mat-list-item><mat-icon>code</mat-icon><div class="tiny-title"> Care for others, your health, your relationships</div></mat-list-item>
            </mat-list>
          </mat-card>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title  class="medium-title">
            Projects
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div >
          <mat-grid-list cols="4">
            <mat-grid-tile>
              <mat-card>
                <mat-card-title class= "primary">Startup Park</mat-card-title>
                <picture>
                  <img src="../../assets/img/AWS.jpg" alt="aws">
                </picture>
                <mat-chip-list>
                  <mat-chip color="primary" class="padding-top-5">CF</mat-chip>
                  <mat-chip color="primary" class="padding-top-5">Route 53</mat-chip>
                  <mat-chip color="primary" class="padding-top-5">React</mat-chip>
                </mat-chip-list>
              </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-card>
                <mat-card-title class= "primary">This Portfolio</mat-card-title>
                <picture>
                  <img src="../../assets/img/angular.png" alt="aws">
                </picture>
                <mat-chip-list>
                  <mat-chip color="primary" class="padding-top-5">Angular</mat-chip>
                  <mat-chip color="primary" class="padding-top-5">SCSS</mat-chip>
                  <mat-chip color="primary" class="padding-top-5">Material</mat-chip>
                </mat-chip-list>
              </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-card>
                <mat-card-title class= "primary">1 Day Challenge</mat-card-title>
                <picture>
                  <img src="../../assets/img/html.png" alt="aws">
                </picture>
                <mat-chip-list>
                  <mat-chip color="primary" class="padding-top-5">HTML</mat-chip>
                  <mat-chip color="primary" class="padding-top-5">CSS</mat-chip>
                  <mat-chip color="primary" class="padding-top-5">JS</mat-chip>
                </mat-chip-list>
              </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-card>
                <mat-card-title class= "primary">Culperit</mat-card-title>
                <picture>
                  <img src="../../assets/img/react.png" alt="aws">
                </picture>
                <mat-chip-list>
                  <mat-chip color="primary" class="padding-top-5">Owner</mat-chip>
                  <mat-chip color="primary" class="padding-top-5">Foundational</mat-chip>
                </mat-chip-list>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title class="medium-title">
            Work History
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>not too much</div>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title  class="medium-title">
            Certifications
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>Yeah good try</div>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title  class="medium-title">
            More About Me
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>I like food a lot</div>
    </mat-expansion-panel>
    <div class="center-text footer"><img src="../assets/img/logo-rectangle.png" alt="aws"></div>
</mat-accordion>

