<mat-accordion >
    <mat-expansion-panel >
        <mat-expansion-panel-header >
            <mat-panel-title class="medium-title">
            My Philosophy
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="small-title">I have a few basic tennents by which I like to live:
          <mat-card>
            <mat-list>
              <mat-list-item><mat-icon>code</mat-icon><div class="tiny-title"> Always look for areas of improvement</div></mat-list-item>
              <mat-list-item><mat-icon>code</mat-icon><div class="tiny-title"> Always look for ways to help</div></mat-list-item>
              <mat-list-item><mat-icon>code</mat-icon><div class="tiny-title"> Efficiency is key</div></mat-list-item>
              <mat-list-item><mat-icon>code</mat-icon><div class="tiny-title"> Care for others, your health, your relationships</div></mat-list-item>
            </mat-list>
          </mat-card>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title  class="medium-title">
            Projects
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div >
          <mat-grid-list cols="4">
            <mat-grid-tile>
              <mat-card>
                <mat-card-title class= "primary">Startup Park (in progress)</mat-card-title>
                <picture>
                  <img src="../../assets/img/AWS.png" alt="aws">
                </picture>
                <mat-chip-list>
                  <mat-chip color="primary" class="padding-top-5">CF</mat-chip>
                  <mat-chip color="primary" class="padding-top-5">Route 53</mat-chip>
                  <mat-chip color="primary" class="padding-top-5">React</mat-chip>
                </mat-chip-list>
              </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-card>
                <mat-card-title class= "primary">Startup Park (in progress)</mat-card-title>
                <picture>
                  <img src="../../assets/img/AWS.png" alt="aws">
                </picture>
                <mat-chip-list>
                  <mat-chip color="primary" class="padding-top-5">CF</mat-chip>
                  <mat-chip color="primary" class="padding-top-5">Route 53</mat-chip>
                  <mat-chip color="primary" class="padding-top-5">React</mat-chip>
                </mat-chip-list>
              </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-card>
                <mat-card-title class= "primary">Startup Park (in progress)</mat-card-title>
                <picture>
                  <img src="../../assets/img/AWS.png" alt="aws">
                </picture>
                <mat-chip-list>
                  <mat-chip color="primary" class="padding-top-5">CF</mat-chip>
                  <mat-chip color="primary" class="padding-top-5">Route 53</mat-chip>
                  <mat-chip color="primary" class="padding-top-5">React</mat-chip>
                </mat-chip-list>
              </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-card>
                <mat-card-title class= "primary">Startup Park (in progress)</mat-card-title>
                <picture>
                  <img src="../../assets/img/AWS.png" alt="aws">
                </picture>
                <mat-chip-list>
                  <mat-chip color="primary" class="padding-top-5">CF</mat-chip>
                  <mat-chip color="primary" class="padding-top-5">Route 53</mat-chip>
                  <mat-chip color="primary" class="padding-top-5">React</mat-chip>
                </mat-chip-list>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title class="medium-title">
            Work History
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>not too much</div>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title  class="medium-title">
            Certifications
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>Yeah good try</div>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title  class="medium-title">
            More About Me
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>I like food a lot</div>
    </mat-expansion-panel>
</mat-accordion>

