<mat-accordion >
    <mat-expansion-panel >
        <mat-expansion-panel-header >
            <mat-panel-title class="medium-title primary">
            My Philosophy
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="small-title secondary">I have a few basic tennents by which I like to live:
          <mat-card>
            <mat-list>
              <mat-list-item><mat-icon>code</mat-icon><div class="tiny-title"> Always look for areas of improvement</div></mat-list-item>
              <mat-list-item><mat-icon>code</mat-icon><div class="tiny-title"> Always look for ways to help</div></mat-list-item>
              <mat-list-item><mat-icon>code</mat-icon><div class="tiny-title"> Efficiency is key</div></mat-list-item>
              <mat-list-item><mat-icon>code</mat-icon><div class="tiny-title"> Care for others, your health, your relationships</div></mat-list-item>
            </mat-list>
          </mat-card>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title  class="medium-title primary">
            Projects
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-projects-content></app-projects-content>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title class="medium-title primary">
            Work History
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-work-history></app-work-history>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title  class="medium-title primary">
            Certifications
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-certifications></app-certifications>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title  class="medium-title primary">
            More About Me
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>I am a fast learner with a strong work ethic. I will continue to build this website out, but wanted to display my initial work</div>
    </mat-expansion-panel>
    <div class="center-text footer"><img src="../assets/img/logo-rectangle.png" alt="aws"></div>
</mat-accordion>

