<mat-tab-group dynamicHeight>
  <mat-tab label="Short tab">
    <mat-card>
      <mat-card-title class= "secondary">State Farm: SEO Intern 2016</mat-card-title>
      <picture class="center">
        <img src="../../assets/img/StateFarm.jpg" alt="aws">
      </picture>
      <mat-divider></mat-divider>
      <mat-list>
          <mat-list-item><mat-icon>code</mat-icon><div class="tiny-title "> Worked on SEO and Improved website views by 150%</div></mat-list-item>
          <mat-list-item><mat-icon>code</mat-icon><div class="tiny-title "> Handled social media marketing</div></mat-list-item>
          <mat-list-item><mat-icon>code</mat-icon><div class="tiny-title "> Took class and required test resulting in a NC PL Insurance License</div></mat-list-item>
          <mat-list-item><mat-icon>code</mat-icon><div class="tiny-title "> Trained staff on effective technology use</div></mat-list-item>
      </mat-list>
    </mat-card>
  </mat-tab>
  <mat-tab label="Long tab">
    <mat-card>
      <mat-card-title class= "secondary">State Farm: SEO Intern</mat-card-title>
      <picture class="center">
        <img src="../../assets/img/StateFarm.jpg" alt="aws">
      </picture>
      <mat-divider></mat-divider>
      <mat-list>
          <mat-list-item><mat-icon>code</mat-icon><div class="tiny-title "> Improved website views by 150%</div></mat-list-item>
          <mat-list-item><mat-icon>code</mat-icon><div class="tiny-title "> Handled social media marketing</div></mat-list-item>
          <mat-list-item><mat-icon>code</mat-icon><div class="tiny-title "> Received PL Insurance License</div></mat-list-item>
          <mat-list-item><mat-icon>code</mat-icon><div class="tiny-title "> Optimized technology usage for agents</div></mat-list-item>
      </mat-list>
    </mat-card>
  </mat-tab>
</mat-tab-group>