@import '~@angular/material/theming';
@include mat-core();
@import '~material-design-icons/iconfont/material-icons.css';

$my-app-primary: mat-palette($mat-gray,800);
$my-app-accent:  mat-palette($mat-gray,200);
$my-app-warn:    mat-palette($mat-deep-orange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);

html, body { height: 100%;
    background: url(assets/img/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-content: center;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.padding-top-15 {
    padding-top: 15px;
}

.center-no-flex{
    text-align: center !important;
}

.no-underline{
    text-decoration: none;
}

.size{
    height:auto;
    width:auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }


.padding-top-5 {
    padding-top: 5px;
}

.padding-bottom-5 {
    padding-bottom: 5px;
}

.padding-bottom-15 {
    padding-bottom: 15px;
}

.margin-left-5 {
    margin-left: 5;
}

.medium-title {
    margin-left: 5px;
    font-size: larger;
    font-weight: 450;
    color: #424242;
}

.small-title {
    margin-left: 5px;
    font-size: medium;
    font-weight:450;

}

.tiny-title {
    margin-left: 5px;
    font-size: small;
    font-weight: 450;
}

.primary {
    color: #4f87b6;
}

.secondary{
    color: #424242;
}

.background {
    height: 100%;
    width: 100%;
    filter: brightness(50%)
}

.center-text {
    font-size: 140%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.large {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 175%;
    font-weight: bold;
    margin-top: 200px;
    margin-bottom: 5px;
}

.bottom {
    text-align: center;
    color: white;
    margin-top: 150px;
    margin-bottom: 150px;
}

.bellow {
    width: 100%;
    top: 90%;
    left: 50%;
}

.footer {
    background-color: white;
    width: 100%;
}
.inv-bottom{
    position: relative;
    top:100%
}