@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.padding-top-15 {
    padding-top: 15px;
}
.padding-top-5 {
    padding-top: 5px;
}